<!DOCTYPE HTML>
{% load static from staticfiles %}
<html lang="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Admin Page{% endblock %}</title>
  <link href="{% static "css/syntax.css" %}" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="{% static "plugins/bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  {% block head %}{% endblock %}
</head>
<body>
<div class="container">
{% block content %}
{% endblock %}
</div>
<!-- Bootstrap -->
<script src="//lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
<script src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>
<!-- Highlight.js -->
<script src="{% static "plugins/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% block src %}
{% endblock %}
</body>
</html>
