{% extends "admin/base.html" %}

{% block title %} Post Blog {% endblock %}

{% block content %}
<style type="text/css">
#id_title, table, textarea {
  width: 100%;
}

#id_submit {
  float: right;
}

#id_submit_choices button {
  width: 100%;
}

#id_table_tag td {
  width: 50%;
}
</style>
{% load bootstrap_toolkit %}
<form action="/admin/edit/?pk={{ pk }}" method="post" id="id_form_post" onsubmit="return submitPost()">
  {% csrf_token %}
  <table>
    <tr><td>
      <div><input name="title" type="text" id="id_title" maxlength="255"{% if not blog.title %} placeholder="Input your tilte here"{% else %}value="{{ blog.title }}"{% endif %} /></div>
    </td><tr>
    <tr><td>
      <div><textarea name="body_raw" rows=30 placeholder="Content of your blog">{% if blog.body_raw %}{{ blog.body_raw }}{% endif %}</textarea></div>
    </td><tr>
    <tr><td>
      {% for format in blog.RAW_FORMAT_CHOICES %}
      <label class="radio">
          <input type="radio" name="raw_format" value="{{ format.0 }}" {% if blog.raw_format == format.0 %}checked{% endif %}>{{ format.1 }}</input>
      </label>
      {% endfor %}
    </td><tr>
    <tr><td>
      <input name="tags" type="hidden" value="" />
      <div class="btn-group" id="id_submit">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="id_submit_choices">
          <li><button type="submit" name="status" value="public" class="btn btn-success">Post to Public</button></li>
          <li><button type="submit" name="status" value="draft" class="btn">Save as Draft</button></li>
          <li><button type="submit" name="status" value="private" class="btn btn-info">Private Only </button></li>
          <li><button type="submit" name="status" value="delete" class="btn btn-danger">Delete!</button></li>
        </ul>
      </div>
    </td><tr>
  </table>
</form>

<div id="id_table_tag">
      <input type="text" id="id_txt_tag" data-provide="typeahead" data-source='[{% for tag in tags %}"{{ tag }}",{% endfor %}""]' />
      <button class="btn" id="id_btn_addtag">Add</button>
      <div id="id_taglist">
      {% for tag in tags %}
        <span data-type="tag" class="label {% if blog.id and tag in blog.tags.all %} label-success{% endif %}" id="id_tag_{{ tag.name }}">{{ tag.name }}</span>
      {% endfor %}
      </div>
</div>


<script>
function createTag(name) {
  var tag = document.createElement("span");
  tag.setAttribute("data-type", "tag");
  tag.setAttribute("class", "label");
  tag.setAttribute("id", "id_tag_" + name);
  tag.textContent = name;
  return tag;
}

function selectTag(tag, select) {
  var SELECTED = "label label-success";
  var UNSELECTED = "label"
  if (select) {
    tag.setAttribute("class", SELECTED);
  } else {
    tag.setAttribute("class", UNSELECTED);
  }
}

function isTagSelected(tag) {
  return !(tag.getAttribute("class").search("success") < 0);
}

function toggleTag(tag) {
  if (isTagSelected(tag)) {
    selectTag(tag, false);
  } else {
    selectTag(tag, true);
  }
}

var tagList = document.getElementById("id_taglist");
tagList.onclick = function(event) {
  var tag = event.target;
  if (tag.getAttribute("data-type") == "tag") {
    toggleTag(tag);
  }
};

var addBtn = document.getElementById("id_btn_addtag");
addBtn.onclick = function(event) {
  var tagInput = document.getElementById("id_txt_tag");
  var name = tagInput.value
  if (name) {
    var tag = document.getElementById("id_tag_" + name);
    if (tag) {
      selectTag(tag, true);
    } else {
      var newTag = createTag(name);
      selectTag(newTag, true);
      document.getElementById("id_taglist").appendChild(newTag);
    }
    tagInput.value = ""
  }
};

function submitPost() {
  var form = document.getElementById("id_form_post");
  if (!form.elements["title"].value || !form.elements["body_raw"].value) {
    alert("Title and Content must not be blank!");
    return false
  }
  var allTags = document.getElementById("id_taglist").getElementsByTagName("span");
  var tags = [];
  for (var i = 0; i < allTags.length; i++) {
    var tag = allTags[i];
    if (isTagSelected(tag)) {
      tags[tags.length] = tag.textContent;
    }
  }
  form.elements["tags"].value = JSON.stringify(tags);
  form.submit();
  return true;
}

window.onload = function () {
  /* Submit Button */
  var buttonList = document.getElementById("id_submit_choices");
  var buttons = buttonList.getElementsByTagName("button");
  for (var i = 0; i < buttons.length; i++) {
    var btn = buttons[i]
    if (btn.getAttribute("value") == "{{ blog.status }}") {
      buttonList.removeChild(btn.parentNode);
      var submit = document.getElementById("id_submit");
      submit.insertBefore(btn, submit.firstChild);
      break;
    }
  }
}
</script>
{% endblock %}
