{% extends "admin/base.html" %}

{% block title %} setting {% endblock %}

{% block content %}
{% load settings %}
<form action="/admin/setting/" method="post">
  {% csrf_token %}
  {% for option in options %}
  <label class="control-label" for="id_{{ option.name }}">{{ option.help }}</label>
  <div class="controls">
  <input id="id_{{ option.name }}" type="text" name="{{ option.name }}" maxlength="100" />
  </div>
  {% endfor %}
  <input type="submit" value="OK" class="btn btn-success" />
</form>
{% endblock %}
