{% include "head.html" with title="Admin" only %}
  <div><a href="{% url edit_view %}"><button class="btn btn-success">New Post</button></a></div>
  <table class="table">
  {% for object in object_list %}
    <tr>
      <td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
      <td><a href="{% url edit_view %}?pk={{ object.pk }}"><button class="btn btn-primary">Edit</button></a><td>
    </tr>
  {% endfor %}
  </table>

  <div class="pagination">
  {% if is_paginated %}
    <ul>
    {% for index in paginator.page_range %}
      {% if index != page_obj.number %}
      <li ><a href="{% url admin_view %}?page={{index}}">{{ index }}</a></li>
      {% else %}
      <li class="disabled"><a href="#">{{ index }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% include "foot.html" %}
