<!DOCTYPE HTML>
{% extends "common.html" %}
{% load static from staticfiles %}
{% load settings %}

{% block com_head %}
  <title>{% block title %} {% get_setting "blog_name" %} {% endblock %}</title>
  {% block head %}{% endblock %}
{% endblock %}

{% block com_body %}
<div class="row-fluid">
<div class="blog-body span8 offset2">
  <div class="blog-head">
    <div class="navbar navbar-inverse blog-navbar span8">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="{% url home %}">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="hero-unit">
      <h1>{% get_setting "blog_name" %}</h1>
      <p>{% get_setting "blog_desc" %}</p>
    </div>
  </div>

  <div class="blog-main">
    {% block content %}
    {% endblock %}
  </div>

  <div class="blog-foot">
    <div class="self-intro no-svg">
      <link href="{% static "plugins/webicons/webicons.css" %}" rel="stylesheet">
      <a class="webicon github large" target="blank" href="https://github.com/oneyoung">Github</a>
      <a class="webicon flickr large" target="blank" href="http://www.flickr.com/photos/oneyoung">Flickr</a>
      <a class="webicon douban large" target="blank" href="http://www.douban.com/people/oneyoung1988/">Douban</a>
      <a class="webicon instagram large" target="blank" href="http://instagram.com/oneyoung1988">Instagram</a>
      <a class="webicon zhihu large" target="blank" href="http://www.zhihu.com/people/oneyoung">Zhjihu</a>
      <a class="webicon linkedin large" target="blank" href="http://www.linkedin.com/profile/view?id=137680934">LinkedIn</a>
      <a class="webicon googleplus large" target="blank" href="https://plus.google.com/u/0/+WayneGuo">Google+</a>
    </div>
    <div id="bottom">
      <h5>Created by <a href="https://github.com/oneyoung/django-blog">oneyoung</a> Powered by <a href="http://www.djangoproject.com/">Django</a><h5>
    </div>
  </div>
</div>
</div>

{% block script %}
{% endblock %}
<script type="text/javascript">
  /* Highlight.js */
  $.getScript('{% static "plugins/highlight.pack.js" %}', function() {
    hljs.tabReplace = '    ';  /* tab expand */
    /* we use <pre><code></code></pre> for code block */
    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
  });

  /* Google Analytics */
  $(window).load(function() {
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{% get_setting "google_analytics_id" %}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  });

</script>
{% endblock %}
