<!DOCTYPE HTML>
{% extends "common.html" %}
{% load static from staticfiles %}
{% load settings %}

{% block com_head %}
  <title>{% block title %} {% get_setting "blog_name" %} {% endblock %}</title>
  {% block head %}{% endblock %}
{% endblock %}

{% block com_body %}
<div class="blog-body">
  <div class="blog-head">
    <div class="navbar navbar-inverse blog-navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="{% url home %}">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="hero-unit">
      <div class="row-fluid">
      <div class="span8 offset2">
        <h1>{% get_setting "blog_name" %}</h1>
        <p>{% get_setting "blog_desc" %}</p>
      </div>
      </div>
    </div>
  </div>

  <div class="blog-main">
    <div class="row-fluid">
      <div class="span8 offset2">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>

  <div class="blog-foot">
    <table>
      <tr>
        <td>
          <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
        </td>
        <td>
          <div id="github"><a href="https://github.com/oneyoung/django-blog"><img alt="GitHub icon" src="{% static "img/github_icon.png" %}"></a></div>
        </td>
      </tr>
    </table>
    <div id="bottom">
      <p></p>
    </div>
  </div>
</div>

{% block script %}
{% endblock %}
<!-- Highlight.js -->
<script src="{% static "plugins/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{% get_setting "google_analytics_id" %}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
