<!DOCTYPE HTML>
{% load static from staticfiles %}
{% load settings %}
<html lang="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %} {% get_setting "blog_name" %} {% endblock %}</title>
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <link href="{% static "css/syntax.css" %}" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="{% static "plugins/bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  {% block head %}{% endblock %}
</head>

<body>
<div class="blog-body">
  <div class="blog-head">
    <div class="navbar navbar-inverse blog-navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="{% url home %}">Home</a></li>
        </ul>
      </div>
    </div>
    <div class="hero-unit">
      <div class="row-fluid">
      <div class="span8 offset2">
        <h1>{% get_setting "blog_name" %}</h1>
        <p>{% get_setting "blog_desc" %}</p>
      </div>
      </div>
    </div>
  </div>

  <div class="blog-main">
    <div class="row-fluid">
      <div class="span8 offset2">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>

  <div class="blog-foot">
    <div class="hero-unit">
    </div>
  </div>
</div>

<!-- Bootstrap -->
<script src="//lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
<script src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>
{% block script %}
{% endblock %}
<!-- Highlight.js -->
<script src="{% static "plugins/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{% get_setting "google_analytics_id" %}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
