{% load static from staticfiles %}
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <link href="{% static "css/highlight/syntax.css" %}" rel="stylesheet">
  <script src="//lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
  <script type="text/javascript">
    /* loadCSS -- load CSS file dynamically. */
    function loadCSS(url, callback) { /* if callback given, means sync mode */
      if (callback) {
        $.get(url, function() {
          $('<style type="text/css"></style>')
                .html(css)
                .appendTo("head");
          callback();
        });
      } else {
        /* async load */
        $('<link rel="stylesheet" type="text/css" href="' + url + '" >')
          .appendTo("head");
      }
    }

    function setCsrfToken(xhr) {
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
           }
         }
        }
        return cookieValue;
      }

      xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }

    $.ajaxSetup({
       beforeSend: function(xhr, settings) {
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
           // Only send the token to relative URLs i.e. locally.
           setCsrfToken(xhr);
         }
         return true;
       },
       cache: true,
    });
  </script>
  <!-- Bootstrap -->
  <link href="{% static "plugins/bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  <script src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>
  {% block com_head %}{% endblock %}
  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
</head>

<body>
{% block com_body %}{% endblock %}
</body>
</html>
