<!DOCTYPE HTML>
{% load static from staticfiles %}
<html lang="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <link href="{% static "css/syntax.css" %}" rel="stylesheet">
  <script src="//lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
  <!-- Bootstrap -->
  <link href="{% static "plugins/bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  <script src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>
  <script type="text/javascript">
    function loadScript(url, callback){

        var script = document.createElement("script")
        script.type = "text/javascript";

        if (script.readyState){  //IE
            script.onreadystatechange = function(){
                if (script.readyState == "loaded" ||
                        script.readyState == "complete"){
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  //Others
            script.onload = function(){
                callback();
            };
        }

        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }
  </script>
  {% block com_head %}{% endblock %}
</head>

<body>
{% block com_body %}{% endblock %}
</body>
</html>
