{% include "head.html" with title="Post Blog" only %}
<style type="text/css">
#id_title, table, textarea {
  width: 100%;
}

#id_post {
  float: right;
}

#id_table_tag td {
  width: 50%;
}
</style>
{% load bootstrap_toolkit %}
<form action="/admin/edit/?pk={{ pk }}" method="post">
  {% csrf_token %}
  <table>
    <tr><td>
      <div><input name="title" type="text" id="id_title" maxlength="255"{% if not blog.title %} placeholder="Input your tilte here"{% else %}value="{{ blog.title }}"{% endif %} /></div>
    </td><tr>
    <tr><td>
      <div><textarea name="body_raw" rows=30 placeholder="Content of your blog">{% if blog.body_raw %}{{ blog.body_raw }}{% endif %}</textarea></div>
    </td><tr>
    <tr><td>
      {% for format in blog.RAW_FORMAT_CHOICES %}
      <label class="radio">
          <input type="radio" name="raw_format" value="{{ format.0 }}" {% if blog.raw_format == format.0 %}checked{% endif %}>{{ format.1 }}</input>
      </label>
      {% endfor %}
    </td><tr>
    <tr><td>
      <table id="id_table_tag" class="table table-bordered">
        <tr>
          <td>
            <form>
              <input type="text" data-provide="typeahead" data-source='[{% for tag in tags %}"{{ tag }}",{% endfor %}""]' />
              <button type="submit" class="btn">Add</button>
            </form>
            <div id="taglist">
            </div>
          </td>
          <td>
            <div id="all_taglist">
              {% for tag in tags %}
                <span data-type="tag" class="label" id="id_tag_{{ tag.name }}">{{ tag.name }}</span>
              {% endfor %}
            </div>
          </td>
        </tr>
      </table>
    </td><tr>
    <tr><td>
      <button type="submit" id="id_post" class="btn btn-success">Post</button>
    </td><tr>
  <table>
</form>

<script>
var allTagList = document.getElementById("all_taglist");
var tagList = document.getElementById("taglist");

function selectTag(tag, select) {
  var oldState = tag.getAttribute("data-state");
  if (select) {
    tag.setAttribute("class", "label label-inverse");
    tag.setAttribute("data-state", "selected");
  } else {
    tag.setAttribute("class", "label");
    tag.setAttribute("data-state", "free");
  }
  return oldState != tag.getAttribute("data-state");
}

allTagList.onclick = function(event) {
  var tag = event.target;
  if (tag.getAttribute("data-type") == "tag") {
    if (selectTag(tag, true)) {
      var cloneTag = tag.cloneNode(true);
      cloneTag.removeAttribute("id");
      cloneTag.setAttribute("class", "label label-success");
      tagList.appendChild(cloneTag);
    }
  }
};

tagList.onclick = function(event) {
  var tag = event.target;
  if (tag.getAttribute("data-type") == "tag") {
    var tagName = tag.childNodes[0];
    var tagID = "id_tag_" + tagName.data;
    var tagOrig = document.getElementById(tagID);
    selectTag(tagOrig, false);
    tagList.removeChild(tag)
  }
};

</script>
{% include "foot.html" %}
