html, body {
  height: 100%;
}

body {
  background-color: #efefef;
  background-attachment: fixed;
  background-image: url("../img/background.jpg");
  background-position: center;
  min-height: 100%;
}

.blog-body {
  background-color: rgba(0, 0, 0, 0.4);
}

.blog-head .blog-navbar {
  background-color: black;
  margin: 0px;
  position: fixed;
  z-index: 100;
}

.blog-head .hero-unit {
  margin: 0px;
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.blog-block {
  background-color: white;
  padding: 30px;
  margin: 30px 50px;
}

.blog-foot {
  background-color: gray;
  padding-top: 20px;
  filter: alpha(opacity=85);
  opacity: 0.85;
}

.blog-foot .self-intro {
  text-align: center;
  margin: 10px auto;
}

#bottom {
  background-color: black;
  padding: 0.1em;
  text-align: center;
}

#album-images {
  background: grey;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.item {
  float: left;
  margin: 3px;
}

.item img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  text-decoration: none;
  background: white;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.item img:hover {
  z-index: 1;
  -webkit-transform: rotate(-3deg) scale(1.2);
  -moz-transform: rotate(-3deg) scale(1.2);
  -o-transform: rotate(-3deg) scale(1.2);
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
