{% extends "blog_admin/base.html" %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="container-fluid"><div class="row-fluid">
<div class="span2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Posts</a></li>
    <li><a href="#">Comments</a></li>
    <li><a href="{% url settings %}">Settings</a></li>
    <li>
      <form action="{% url logout %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-warning" />
      </form>
    </li>
  <ul>
</div>
<div class="span10">
  <div><a href="{% url edit %}"><button class="btn btn-success">New Post</button></a></div>
  <table class="table" id="blog_list">
  {% for blog in object_list %}
    <tr>
      <td><span>{{ blog.status }}</span>   <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></td>
      <td><a href="{% url edit %}?pk={{ blog.pk }}"><button class="btn btn-primary edit-btn" style="display:none"><i class="icon-pencil icon-white"></i>  Edit</button></a><td>
    </tr>
  {% endfor %}
  </table>

  <div class="pagination">
  {% if is_paginated %}
    <ul>
    {% for index in paginator.page_range %}
      {% if index != page_obj.number %}
      <li ><a href="{% url admin %}?page={{index}}">{{ index }}</a></li>
      {% else %}
      <li class="disabled"><a href="#">{{ index }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
  </div>
</div>
</div></div>
{% endblock %}

{% block src %}
<script>
window.onload = function() {
  $('#blog_list td:first-child span:first-child').map(function() {
    var type, val;
    switch($(this).text()) {
      case "public": type = "success"; val = "PUB"; break;
      case "draft": type = "warning"; val = "DFT"; break;
      case "private": type = "info"; val = "PRV"; break;
      case "delete": type = "important"; val = "DEL"; break;
    };
    $(this).text(val);
    $(this).addClass("label");
    $(this).addClass("label-" + type);
  });
};

$('#blog_list tr').hover(function () {
  $(this).find("button[class*='edit-btn']").css('display', '');
}, function() {
  $(this).find("button[class*='edit-btn']").css('display', 'none');
});
</script>
{% endblock %}
